<div class="container-fluid">
  <!-- Menu -->
  <div class="navigation-wrap bg-light start-header start-style">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light">

                    <a class="navbar-brand" href="https://front.codes/" target="_blank">
                      TIRUMALAKART
                    </a>

						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto py-4 py-md-0">
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 mr-2">
									<a class="nav-link" routerLink="/home">Home</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 mr-2">
									<a class="nav-link" routerLink="/products">Products</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 mr-2">
									<a class="nav-link" routerLink="/home">New Offeres</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 mr-2 show">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Fashion</a>
									<div class="dropdown-menu hide">
                    <a class="dropdown-item" routerLink="/home">Bowl</a>
                    <a class="dropdown-item" routerLink="/home">Dinnerware</a>
                    <a class="dropdown-item" routerLink="/home">Pillow Cover</a>
                    <a class="dropdown-item" routerLink="/home">Stone White</a>
                    <a class="dropdown-item" routerLink="/home">Face Coverings</a>
									</div>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-5 mr-2">
									<a class="nav-link" routerLink="/home">Sign in</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
  </div>
  <!-- <router-outlet></router-outlet> -->
</div>
